---
import Master from "../../layouts/master.astro";
import type { FrontmatterProps } from "../../core/frontmatter";
import { Image } from "astro:assets";
import articleIcon from "pixelarticons/svg/article.svg";

const allPosts = await Astro.glob<FrontmatterProps>("./*/*.mdx");
---

<Master page="rand">
  {
    allPosts.reverse().map(({ frontmatter: { title, brief }, url }) => (
      <a href={url}>
        <Image
          src={articleIcon}
          alt=""
          width={24}
          height={24}
          style="filter: invert(1)"
        />
        <span>
          <h2>{title}</h2>
          <span>{brief}</span>
        </span>
      </a>
    ))
  }
  <span class="end">and await for more</span>
</Master>

<style lang="sass">
  a
    color: #fff
    text-decoration: none
    display: flex
    flex-direction: row
    align-items: center

    margin: 1rem
    padding: 0.5em 1rem

    border: 1px solid var(--b)
    margin-bottom: 1.5em
    --s: #0000
    --s2: #000f
    --b: #444
    box-shadow: 4px 4px 0px 2px var(--s), 0 0 0px 2px var(--s2) inset
    transition: box-shadow 32ms ease-in-out, background 64ms ease-in-out
    // padding: 0.3em 0
    &:hover
      background: var(--b)
      --s: #000f
      --s2: #0000
    &>*
      text-align: left
    &>span
      margin-left: 1em
      &>h2
        margin: 0
        width: 100%
  span.end
    color: #efefef
</style>
