//- no longer use 
//- (very cool way to write yml-ish xml, f vue, f svelte)

figure
  section
    img(
      alt="stdpi",
      src="https://stdpi.ftp.sh/scrshot/23/11/zst.png"
    )
  figcaption
    h3 
      | @stdpi
    h5 aka @huwutao, random mind in the wild
    p 
      | Failure was never an
      code 
        | Option&ltT>
      | &nbsp&nbspbut
      code 
        | Result&ltT, E>
    .icons
      a(href="https://fb.me/huwutao" m="fb")
        i.bi.bi-facebook facebook
      a(href="https://reddit.com/u/huwutao" m="re")
        i.bi.bi-reddit reddit
      a(href="https://github.com/huwutao" m="gh")
        i.bi.bi-github github
