name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  deployments: write

env:
  PROJECT_NAME: "stdpi"

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - name: Install
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Get branch name
        id: things
        run: echo "ref=${GITHUB_REF#refs/*/}" >> "$GITHUB_OUTPUT"
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ID }}
          projectName: ${{ env.PROJECT_NAME }}
          directory: dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref == 'refs/heads/main' && 'production' || steps.things.outputs.ref }}
